# VITE_API_URL: The base URL for the backend API server
# VITE_CLIENT_URL: The URL where the React client application is hosted
# PORT: The port number on which the development server will run
# VITE_COMPONENTS_PAGE_ENABLED: Feature flag to enable/disable the components showcase page

VITE_API_URL=http://localhost:9000
VITE_CLIENT_URL=http://localhost:3303
PORT=3303
VITE_COMPONENTS_PAGE_ENABLED=true