<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllureSuite" parallel="false">
    <listeners>
        <listener class-name="reporting.AllureTestListener"/>
    </listeners>
    <test name="Conforme Test">
        <classes>
            <class name="unitTests.LoginTests" />
        </classes>
    </test>
</suite>